fastapi
uvicorn[standard]
sqlalchemy
aiomysql
pymysql
bcrypt==4.0.1
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
pytest
httpx
python-dotenv
cryptography
